/**
 * Variables
*/
$global-font-size: 100%;
$global-width: 1280px;
$global-margin: 14px;


$body-font-family: 'Proxima Nova', arial, serif;

$black: #000;
$white: #fff;

$light-gray: #f1f1f1;
$medium-gray: #f8f8f8;
$dark-gray: #9a9a9a;

$alert-color: #DC3E48;

$body-background: #fff;
$body-font-color: #1d1d1d;

$heading-color: $body-font-color;
$link-color: #3E8BDC;